.avatar-24 {
  max-width: 24px;
  max-height: 24px;
}

.avatar-32 {
  max-width: 32px;
  max-height: 32px;
}

.avatar-64 {
  max-width: 64px;
  max-height: 64px;
}

.avatar-92 {
  max-width: 92px;
  max-height: 92px;
}
