.card-subtitle {
  @extend .lead;
  color: $text-muted;
}

.central-card {
  @extend .card;

  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 450px;
  }
}

.card {
  box-shadow: $box-shadow-sm;
}
