.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100% - 15px);
  width: $sidebar-width;
  padding-top: 15px;

  .header {
    @extend .list-group-item;
    @extend .text-muted;
    @extend .small;

    border: none;
  }

  .item {
    @extend .list-group-item;
    @extend .list-group-item-action;

    border: none;
  }

  .sub-item {
    @extend .item;
    @extend .pl-5;
  }
}

.sidebar-modal {
  .modal-sm {
    max-width: $sidebar-width;
  }

  app-sidebar {
    height: 100%;
  }

  .modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: $sidebar-width;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal.left .modal-body {
    padding: 15px 15px 80px;
  }

  .modal.left.fade .modal-dialog {
    left: -280px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
  }

  .modal.left.fade.show .modal-dialog {
    left: 0;
  }

  /* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
  }

  .list-group-item {
    border: none;
  }
}

.sidebar-static {
  box-shadow: $box-shadow;
  position: fixed;
  height: 100%;
  background-color: $white;
  display: none;

  .sidebar {
    height: calc(100% - 50px);
  }

  @include media-breakpoint-up(xl) {
    display: block;
    overflow: auto;
  }
}
