<lib-breadcrumb
  [items]="['Companies|../../../../', company.name + '|../../../', 'Settings|../../', 'Subscription|../', 'Subscribe']">
</lib-breadcrumb>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Subscribe</h4>
    <p class="card-subtitle">Please select your subscription plan.</p>
    <hr>
    <lib-form [formGroup]="form" (submitted)="onSubmit()">
      <lib-select name="type" label="Plan" [options]="types"></lib-select>
      <lib-select name="length" label="Duration" [options]="lengths"></lib-select>
      <lib-label label="Currency" [value]="currencyCode"></lib-label>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label text-lg-right">
          Amount
        </label>
        <div class="pt-2 col-lg-9">
          <span *ngIf="amount !== undefined" class="mt-3">{{ amount }}</span>
          <span *ngIf="amount === undefined" class="mt-3 mdi mdi-loading mdi-spin"></span>
        </div>
      </div>
      <hr>
      <lib-submit-button>Subscribe</lib-submit-button>
    </lib-form>
  </div>
</div>