<lib-breadcrumb [items]="['Account|../', 'Edit']"></lib-breadcrumb>
<div libTitle="Edit Account" class="card">
  <div class="card-body">
    <h4 class="card-title">Edit Account</h4>
    <p class="card-subtitle">Enter your account details.</p>
    <hr>
    <lib-form [formGroup]="form" (submitted)="onSubmit()">
      <lib-image-input name="avatar" label="Avatar" [src]="hasSrc ? (src | trustResource) : defaultSrc"
        (imageChanged)="onImageChanged($event)" [canRemove]="hasSrc" (deleted)="onDeleteAvatar()"></lib-image-input>
      <hr>
      <lib-text-box name="email" type="email" label="Email">
        <p id="unconfirmed" *ngIf="authStore.signedInUser.value.status === 0" class="card-text">
          Your email has not yet been confirmed. Please click <a href="#" (click)="onResend($event)">here</a> to resend
          an email confirmation.</p>
        <p id="confirmed" *ngIf="authStore.signedInUser.value.status !== 0" class="card-text">
          Your email was confirmed.
        </p>
      </lib-text-box>
      <hr />
      <lib-text-box name="firstName" label="First Name"></lib-text-box>
      <lib-text-box name="lastName" label="Last Name"></lib-text-box>
      <hr />
      <lib-text-box name="password" type="password" label="Password"></lib-text-box>
      <lib-text-box name="confirmPassword" type="password" label="Confirm"></lib-text-box>
      <hr />
      <lib-submit-button>Save</lib-submit-button>
    </lib-form>
    <div id="saved" *ngIf="isSaved" class="alert alert-success mt-3">
      <h4 class="alert-heading">Saved</h4>
      <span>Your changes was saved.</span>
    </div>
  </div>
</div>