<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../../../">Companies</a></li>
    <li class="breadcrumb-item"><a routerLink="../../" appCompanyName></a></li>
    <li class="breadcrumb-item"><a routerLink="../">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
  </ol>
</nav>
<div class="card border-danger">
  <div class="card-body">
    <h4 class="card-title text-danger">Delete Company</h4>
    <p class="card-subtitle">Press the delete button if you want to delete your company.</p>
    <hr>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>