<lib-collection libTitle="Companies" [searchable]="true" [context]="context" [itemTemplate]="itemTemplate"
  (loadMore)="loadItems()">
  <ng-template #itemTemplate let-item="item">
    <div class="card">
      <div class="card-body">
        <lib-card-menu>
          <button class="dropdown-item" (click)="toggleFavorite(item.companyId)">Toggle Favorite</button>
          <hr>
          <a class="dropdown-item" [routerLink]="[item.companyId, 'settings', 'edit']">Edit</a>
          <a class="dropdown-item" [routerLink]="[item.companyId, 'settings']">Settings</a>
        </lib-card-menu>
        <div class="d-md-flex">
          <img [libCompanyLogo]="item" class="img-thumbnail mb-3 mr-3 mb-md-0 avatar-92">
          <div class="mr-auto">
            <h4 class="card-title"><a [routerLink]="[item.companyId]">{{ item.name }}</a></h4>
            <p class="card-subtitle">@{{ item.uniqueName }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</lib-collection>