<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Account</li>
  </ol>
</nav>
<div libTitle="Account" class="row">
  <div class="col-md mb-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a routerLink="edit" class="stretched-link">Edit</a></h4>
        <span class="card-subtitle">Edit your account details.</span>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a routerLink="delete" class="stretched-link">Delete</a></h4>
        <span class="card-subtitle">If you want to delete your account.</span>
      </div>
    </div>
  </div>
</div>