<div appTitle="Confirm Invitation" class="d-flex justify-content-center m-3 mt-sm-6">
  <div>
    <div class="central-card">
      <div class="card-body text-center">
        <h4 class="card-title">Company Confirmation</h4>
        <div *ngIf="!invitation">
          <p class="card-text text-danger">The token provided is invalid.</p>
        </div>
        <div *ngIf="invitation">
          <p class="card-text">You have been invited to join the company <strong>{{ invitation.company.name }}</strong>.
            Do you accept
            this invitation?</p>
          <div *ngIf="!isBusy" class="d-flex justify-content-center mt-5">
            <button class="btn btn-success mx-2" (click)="respond(true)">Accept</button>
            <button class="btn btn-danger mx-2" (click)="respond(false)">Reject</button>
          </div>
          <div *ngIf="isBusy" class="spinner-border mt-5" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mb-0 mt-3">
            <p class="card-text">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-3 mt-md-6 text-center">
      <a class="h4" routerLink="/"><img width="96" height="96" src="/assets/wt-programs-logo.png"><br>iCompanyPortal</a>
    </div>
  </div>
</div>