<div class="d-flex justify-content-center m-3 mt-sm-6">
  <div>
    <div class="central-card">
      <div *ngIf="!email" class="card-header">
        <nav class="nav nav-pills card-header-pills justify-content-around">
          <a class="nav-item nav-link" routerLink="sign-in" routerLinkActive="active">Sign
            In</a>
          <a class="nav-item nav-link" routerLink="sign-up" routerLinkActive="active">Sign
            Up</a>
        </nav>
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="mt-5 mb-3 mt-md-6 text-center">
      <a class="h4" routerLink="/"><img width="96" height="96" src="/assets/wt-programs-logo.png"><br><span
          libApplicationTitle></span></a>
    </div>
  </div>
</div>