<div libTitle="Home" libTitleDescription="Veniam elit nostrud ipsum qui cupidatat."
  libTitleImg="https://dummyimage.com/600x400/000/fff" class="jumbotron jumbotron-fluid">
  <div class="container pb-5 pt-6  text-center">
    <h1 libApplicationTitle class="display-4"></h1>
    <p class="lead">Veniam elit nostrud ipsum qui cupidatat.</p>
    <div class="d-flex justify-content-center mt-5">
      <a appAppRedirect class="btn btn-lg btn-success mx-2">Get Started</a>
      <a routerLink="/features" class="btn btn-lg btn-outline-info mx-2">Features</a>
    </div>
  </div>
</div>
<div class="container mt-6">
  <div class="row flex-row-reverse my-6">
    <div class="col-md-6 align-self-center">
      <h2 class="h3">
        <a routerLink="/features">Features</a>
      </h2>
      <p class="lead">
        Fugiat laboris ipsum consectetur eu excepteur consequat ex commodo consectetur. Tempor laborum occaecat enim
        minim velit incididunt pariatur deserunt. Irure occaecat elit incididunt adipisicing Lorem fugiat eiusmod non
        esse veniam enim qui eu. Veniam ad ex do elit est ex veniam aliquip occaecat enim nostrud labore aliquip minim.
        Officia quis do velit minim consectetur laboris irure laborum.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="https://dummyimage.com/600x400/000/fff" alt="Features" />
    </div>
  </div>
  <div class="row flex-row-reverse my-6">
    <div class="col-md-6 align-self-center">
      <h2 class="h3">
        <a routerLink="/pricing">Pricing</a>
      </h2>
      <p class="lead">
        Lorem cupidatat do irure nostrud ut sunt cupidatat dolore ullamco ipsum sint. Duis veniam occaecat ex aliquip
        aute proident anim deserunt in et sint eiusmod. Exercitation ad do cillum qui officia aute Lorem enim veniam
        esse dolor. Id sit dolore laborum nostrud do do elit adipisicing et deserunt reprehenderit elit. Culpa anim
        officia incididunt est deserunt enim ex. Voluptate cupidatat occaecat minim est id laborum exercitation est
        nulla nulla ullamco. Pariatur eiusmod aliqua cupidatat laborum reprehenderit occaecat consectetur nostrud.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="https://dummyimage.com/600x400/000/fff" alt="Features" />
    </div>
  </div>
  <div class="row flex-row-reverse my-6">
    <div class="col-md-6 align-self-center">
      <h2 class="h3">
        <a routerLink="/contact">Contact</a>
      </h2>
      <p class="lead">
        Laborum labore cillum est aliquip incididunt ut ut eiusmod aliqua sunt. Reprehenderit anim quis reprehenderit
        laboris dolor sunt ullamco dolore magna enim. Aute ad ut esse enim nostrud laborum. Ea excepteur aute duis Lorem
        laborum deserunt mollit irure do sit irure. Nulla deserunt irure consectetur qui nulla eiusmod. Ipsum nulla sint
        do eiusmod nisi cupidatat do. Laboris in eiusmod laboris enim nulla dolor ut irure et quis nulla laboris.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="https://dummyimage.com/600x400/000/fff" alt="Features" />
    </div>
  </div>
</div>
<div class="bg-primary py-5 text-center">
  <div class="container">
    <p class="display-4 text-white">Velit consequat sunt culpa eiusmod adipisicing duis sit quis mollit laboris.</p>
  </div>
</div>