<p appTitle="Reset Password" class="card-text text-center">Please enter your email address</p>
<app-form [formGroup]="form" (submitted)="onSubmit()">
  <app-text-box name="password" type="password" label="Password" [labelAsPlaceholder]="true"></app-text-box>
  <app-submit-button [isBlock]="true">Reset</app-submit-button>
</app-form>
<div id="email-sent" *ngIf="emailSent" class="mt-3 mb-0 alert alert-success">
  <h4 class="alert-heading">Email sent</h4>
  <p class="card-text">An email was sent to you. Please follow the instructons to reset your password. If you have not
    received any email, make sure to also check your Junk/Spam folder.</p>
</div>
<div class="mt-3 mb-0 alert alert-info">
  <h4 class="alert-heading">Trouble signing in?</h4>
  <p class="card-text">Feel free to <a href="#">contact us</a> should you have any problems signing in.</p>
</div>