<div class="row">
  <div class="col-md-4 text-center mb-3">
    <div class="card">
      <div class="card-body">
        <lib-card-menu>
          <button class="dropdown-item" (click)="toggleFavorite()">Toggle Favorite</button>
          <hr *libCheckPermissions="0">
          <a *libCheckPermissions="0" class="dropdown-item" routerLink="settings/edit">Edit</a>
          <a *libCheckPermissions="0" class="dropdown-item" routerLink="settings">Settings</a>
        </lib-card-menu>
        <img [libCompanyLogo]="store.company.value" class="img-thumbnail mb-3 avatar-92">
        <h4 class="card-title">{{ store.company.value.name }}</h4>
        <p class="card-subtitle">@{{ store.company.value.uniqueName }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>