<lib-collection libTitle="Company Users" [searchable]="true" [hasCustomSearch]="true" [context]="context"
  [itemTemplate]="itemTemplate" (loadMore)="loadItems()">
  <ng-template #itemTemplate let-item="item">
    <div class="card">
      <div class="card-body">
        <lib-card-menu>
          <button class="dropdown-item text-danger"
            [libModalToggler]="'remove-company-user-' + item.userId">Remove</button>
        </lib-card-menu>
        <h4 class="card-title">{{ getName(item) }}</h4>
        <div *ngFor="let permission of permissions" class="d-flex flex-wrap">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [id]="'type-' + permission.type + '_' + item.userId"
              [defaultChecked]="getPermission(item, permission.type)" (change)="togglePermission(item, permission)">
            <label class="custom-control-label"
              [htmlFor]="'type-' + permission.type + '_' + item.userId">{{ permission.description }}</label>
          </div>
        </div>
      </div>
    </div>
    <lib-modal modalTitle="Remove?" [identity]="'remove-company-user-' + item.userId" colorContext="danger"
      submitText="Remove" (answered)="onRemove(item)">
      Are you sure you want to remove {{ getName(item) }}?
    </lib-modal>
  </ng-template>
</lib-collection>