<lib-collection libTitle="Company Users" [context]="context" [itemTemplate]="itemTemplate" (loadMore)="loadItems()">
  <ng-template #itemTemplate let-item="item">
    <div class="card">
      <div *ngIf="users[item.userId]" class="card-body">
        <lib-card-menu>
          <button class="dropdown-item text-danger"
            [libModalToggler]="'remove-company-user-' + item.userId">Remove</button>
        </lib-card-menu>
        <h4 class="card-title">{{ getName(item) }}</h4>
      </div>
    </div>
    <lib-modal modalTitle="Remove?" [identity]="'remove-company-user-' + item.userId" colorContext="danger"
      submitText="Remove" (answered)="onRemove(item)">
      Are you sure you want to remove {{ getName(item) }}?
    </lib-modal>
  </ng-template>
</lib-collection>