<div class="d-flex justify-content-center m-3 mt-sm-6">
  <div>
    <div class="central-card">
      <div class="card-body text-center">
        <h4 class="card-title">Confirmation</h4>
        <div *ngIf="!invalid" id="is-busy">
          <p class="card-text">Please wait while we confirm your token...</p>
          <div *appTimeout="500" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p *ngIf="invalid" id="is-invalid" class="card-text text-danger">The token provided is invalid.</p>
      </div>
    </div>
    <div class="mt-5 mb-3 mt-md-6 text-center">
      <a class="h4" routerLink="/"><img width="96" height="96" src="/assets/wt-programs-logo.png"><br>iCompanyPortal</a>
    </div>
  </div>
</div>