<nav #navbar class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">iCompanyPortal.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <nav class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-item nav-link" routerLink="/features" routerLinkActive="active">Features</a>
        <a class="nav-item nav-link" routerLink="/pricing" routerLinkActive="active">Pricing</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
      <nav class="navbar-nav">
        <a appAppRedirect class="btn btn-outline-success">Get Started</a>
      </nav>
    </div>
  </div>
</nav>