<div class="header d-flex justify-content-between">
  <span>Companies</span>
  <a routerLink="/companies">All Companies</a>
</div>
<a *ngFor="let company of companies" class="sub-item" [routerLink]="viewRoute(company.companyId)"
  routerLinkActive="active">{{ company.name }}</a>
<div class="text-center">
  <span *ngIf="!isLoading && companies.length === 0" class="small">You do not belong to any companies</span>
  <div *ngIf="isLoading" class="text-center">
    <div *libTimeout="500" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <a routerLink="/companies/create" class="btn btn-success text-center mt-3">Create Company</a>
</div>