<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../../../">Companies</a></li>
    <li class="breadcrumb-item"><a routerLink="../../" appCompanyName></a></li>
    <li class="breadcrumb-item"><a routerLink="../">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Export</li>
  </ol>
</nav>
<div class="card" appTitle="Export">
  <div class="card-body">
    <h4 class="card-title">Export Company</h4>
    <p class="card-subtitle">Click the following button to export your company.</p>
    <hr />
    <button class="btn btn-primary" (click)="export()">Export</button>
  </div>
</div>