<div libTitle="Home"
  libTitleDescription="Adipisicing consectetur magna cillum est est excepteur quis commodo cupidatat enim."
  libTitleImg="https://dummyimage.com/600x400/000/fff" class="jumbotron jumbotron-fluid">
  <div class="container pb-5 pt-6">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h1 class="h3">Features</h1>
        <p class="lead">
          Adipisicing consectetur magna cillum est est excepteur quis commodo cupidatat enim. Dolor laboris eu nulla in
          laborum. Anim tempor anim ex irure. Pariatur fugiat dolore non officia veniam incididunt aliqua. Cillum culpa
          laboris enim cillum minim eu sunt ipsum.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid" src="https://dummyimage.com/600x400/000/fff" height="300" alt="Features" />
      </div>
    </div>
  </div>
</div>